# Compiled python files
*.py[c|o]

# Distribution/VirtualENV
bin/
dist/
include/
lib/

# Cached python files
*pycache*
.pytest_cache/
.cache
.coverage*
*.egg-info

# Folder preview
.DS_Store
.DS_Store/
Thumbs.db

# IDE Related
.idea
.code

# App files
timeview/gui/config.json
timeview/manager/dataset.db

# git .orig files
*.orig
.eggs
.mypy_cache

